* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: GothamRounded;
    src: url(../font/GothamRounded.ttf);
}

@font-face {
    font-family: Exo2;
    src: url(../font/Exo2.ttf);
}

body {
    font-family: Exo2;
}

/*=================================== navBar =================================*/
.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
    background: #fff;
}

.navbar.sticky {
    background: #fff;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
    align-items: center;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #007bff;
}

.icon {
    color: #000;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

.nav-btn .hero-btn button {
    margin-top: 0 !important;
}

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }

    .navbar.show .menu-list {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
}


/*=============================== Hero Section ================================*/
.hero-section {
    height: 100vh;
    background: #000 url(../assets/hero-bg-img.jpg) no-repeat;
    background-size: contain;
    background-position: right;
    padding: 25px 0;
}

.hero-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
}

.hero-content h1 {
    font-family: Exo2;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
}

.hero-content p {
    font-family: Exo2;
    color: #13c041;
    font-size: 60px;
    text-transform: uppercase;
}

.hero-btn {
    width: fit-content;
}

.hero-btn button {
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 50px;
    background: #13c041;
    color: #fff;
    border: 2px solid #13c041;
    cursor: pointer;
}

.hero-btn button:hover {
    background: transparent;
    color: #13c041;
}

/*==================================== Intro Section ================================*/
.intro-content {
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
}

.intro-content h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.intro-content p {
    font-family: GothamRounded;
    font-weight: 600;
    font-size: 15px;
    margin: 20px 0;
}

.intro-content .hero-btn {
    margin: 0 auto;
}


/*================================== About Section ==============================*/
.about-bg {
    margin-top: 80px;
    height: 50vh;
    background: url(../assets/about-bg-img.jpg) no-repeat;
    background-size: cover;
}

.about-content {
    position: relative;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: 0 auto;
    transform: translateY(-100px);
    background: #fff;
}

.about-con h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.about-con p {
    font-family: GothamRounded;
    margin-top: 20px;
    max-width: 450px;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-con a {
    display: inline;
    color: #2196f3;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.about-target-img {
    position: absolute;
    bottom: -80px;
    right: -80px;
}

.about-target-img img {
    width: 300px;
}



/*================================= Service Section ============================*/
.service-help-con {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.service-help-con h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.service-help-con p {
    font-family: GothamRounded;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 10px;
    font-weight: 600;
}

/* Card */
.service-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
    flex-basis: 33.333%;
    padding: 20px;
    margin: 10px 0;
}

.card img {
    width: 50px;
}

.card h1 {
    font-size: 25px;
    text-transform: uppercase;
}

.card p {
    font-family: GothamRounded;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card a {
    display: inline;
    color: #13c041;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

/*================================== Result Section ============================*/
.result-section {
    height: 80vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
}

.result-content h1 {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

.counter-sec {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.counter-sec div {
    flex-basis: 33.33%;
    border-right: 1px solid #fff;
    padding: 20px;
    text-align: center;
}

.counter-sec div:last-child {
    border: none;
}

.counter-sec div span,
.counter-sec div i {
    font-size: 30px;
    font-weight: bold;
    color: #13c041;
}

.result-con {
    margin-top: 40px;
}

.result-con p {
    font-family: GothamRounded;
    font-size: 13px;
    text-align: center;
    line-height: 3;
}

.result-con .hero-btn {
    margin: auto;
}


/*=================================== Testimonials ==============================*/
.tm-section {
    width: 500px;
    margin: 80px auto;
    text-align: center;
}

.tm-section .hero-btn {
    margin: 10px auto;
}

.review p {
    font-family: GothamRounded;
    font-size: 15px;
}

.review p:last-child {
    margin-top: 20px;
    font-weight: bold;
}

.slick-dots {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.slick-dots button {
    outline: none;
    margin: 0 10px;
    text-indent: -9999px;
    height: 4px;
    width: 60px;
}

.slick-dots .slick-active button {
    background: #2196f3;
    border: none;
}

/*================================== Free Resources =============================*/
.free-re-section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2196f3;
}

.free-re-con h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.free-re-books {
    width: 100%;
    max-width: 880px;
    display: flex;
    margin-top: 20px;
    overflow-x: auto;
}

.free-re-con .hero-btn {
    margin: 20px auto;
}

.free-re-books .fr-b-img img {
    width: 200px;
    margin: 0 10px;
}

/*==================================== Container ================================*/
.container {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.sample {
    height: 100vh;
}